<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailStyles.css">
    <title>detail</title>
</head>
<body>
    <div class="bg">
        <img src="../storage/img/deatilColdplayPhoto.svg" alt="">
    </div>

    <header class="headercontainer">
        <a href="/index.html">
            <img src="../storage/img/detailLeftIcon.svg" alt=""><!--  develop this part one by one -->
        </a>
    </header>
    
    <main>
        <section>
            <article>
                <!--  develop this part one by one -->
                


                
            </article>
        </section>

        <section>
            <article>
                
                <h2>Description</h2>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
                <span>
                    Read More..
                </span></p>

            </article>
        </section>

        <section>
            <article>
                <h2>Description</h2>
                <iframe src="" frameborder="0"></iframe>  <!--insert google map iframe -->
                
            </article>
        </section>
    </main>

    <footer>
        
        <div>
            <p>Start from</p>
            <h2>IDR1.100.000</h2>
        </div>

        <button>
            Buy Ticket
        </button>

    </footer>


</body>
</html>