<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailStyles.css">
    <title>detail</title>
</head>
<body>
    <div class="bg">
        <img src="../storage/img/deatilColdplayPhoto.svg" alt="">
    </div>

    <header class="headercontainer">
        <a href="../index.html">
            <img src="../storage/img/detailLeftIcon.svg" alt=""><!--  develop this part one by one -->
        </a>
    </header>
    
    <main class="maincontainer">
        <section>
            <article>
                <div>
                    <h2>Coldplay : <span>Music of the Spheres  </span></h2>
                    <div>
                        <img src="../storage/img/LocationGrey .svg" alt="">
                        <p>Gelora Bung Karno Stadium, Jakarta</p>
                    </div>
                    <div>
                        <img src="../storage/img/Calender 1 gray.svg" alt="">
                        <p>November 15 2023</p>
                    </div>
                </div>

                
                <div>
                    <img src="../storage/img/detailPeople.svg" alt="">
                    <p>50K+ Participants</p>
                </div>

            </article>

          
        </section>

        <section>
            <article>
                
                <h2>Description</h2>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
                    <span>
                        Read More..
                    </span>
                    
                </p>

            </article>
        </section>



        <section>
            <article>
                <h2>Description</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33994528.910592675!2d64.14628684786702!3d28.624258647200836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995b9ebef1235bd%3A0x3ae1297b70640201!2sHimalaya!5e1!3m2!1ses-419!2sco!4v1739725795862!5m2!1ses-419!2sco" 
                allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </article>
        </section>
   
    </main>


    <footer class="footercontainer">
        
        <div>
            <p>Start from</p>
            <h2>IDR1.100.000</h2>
        </div>

        <a href="../views/tiket.html" style="text-decoration: none;">
            Buy Ticket
        </a>

    </footer>


</body>
</html>