<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ticket</title>
    <link rel="stylesheet" href="../styles/tiketStyles.css">
</head>
<body>
    <header>
        <nav>
            <img src="" alt="">
            <img src="" alt="">
        </nav>
    </header>
    <main>
        <section>
            <article> <!-- slider --> <!-- do it one by one -->


            </article>





            <!-- n-tickets -->
            <article> <!-- slider -->

            </article>

            
        </section>
    </main>
</body>
</html>