<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ticket</title>
    <link rel="stylesheet" href="../styles/tiketStyles.css">
</head>
<body >
    <div class="bg">
    </div>
    <header class="headercontainer">
        <nav>
            <a href="../views/detail.html">
                <img src="../storage/img/ticketMenuLeft.svg" alt="">
            </a>
            <img src="../storage/img/ticketVector.svg" alt="">
        </nav>
    </header>

    <main class="maincontainer">
        <section>
            <article> <!-- slider --> <!-- do it one by one -->
                <div>
                    <img src="../storage/img/ticketColdplayCover.svg" alt="">
                </div>

                <div>
                    <div>
                        <h2>Coldplay : Music of the Spheres</h2>
                        <p>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>

                    </div>
                    
                    <div>
                        <div>
                            <div>
                                <p>Name</p>
                                <h2>Indriyani Puspita</h2>
                            </div>

                            <div>
                                <p>Order Number</p>
                                <h2>CLD09738PL</h2>
                            </div>

                        </div>
                        
                        <div>
                            <div>
                                <p>Date</p>
                                <h2>Nov 15 2023</h2>
                            </div>

                            <div>
                                <p>Time</p>
                                <h2>9:00 PM</h2>
                            </div>
                        </div>
                        
                        <div>
                            <div>
                                <p>Gate</p>
                                <h2>Yellow</h2>
                            </div>

                            <div>
                                <p>Seat</p>
                                <h2>West B</h2>
                            </div>
                        </div>



                    </div>
                
                
                
                
                </div>

            </article>

            <!-- n-tickets -->
            <article> <!-- slider -->

            </article>

            
        </section>
    </main>
</body>
</html>