@import url(variables.css);

*{margin: 0; padding: 0; 

    outline: 1px solid tomato;

}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

.bg{
    position: absolute;
    z-index: -1;
    top: 0;
    img{
        
        width: 100vw;
        height: auto;
    }
}


@media screen and (max-width: 768px){
 
    .header{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 5.128vw;
        top: 11.025vw;
        width: 88.71vw;
        height: 59.23vw;
        gap:5.12vw;

        .navcontainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a{
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        h1{
            font-size: 7.69vw;
            span{
                color:rgba(118, 28, 188, 1) ;
            }
        }
        
        div{
            display: flex;
            flex-direction: column;
            gap: 4.10vw;

            div:nth-child(1){
                display: flex;
                flex-direction: row;
                background-color: white;
                width: 88.717vw ;
                height: 10.512vw;
                align-items: center;
                justify-content: space-between;
                border-radius: 1vw;
                
                >div:nth-child(1){
                    
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    gap: 3.07vw;
                    width: 50.256vw;
                    height: 4.35vw;
                    padding-left: 3.07vw;
                    img{
                        
                        height: 100%;
                    }
                    textarea{
                        width: 50vw;
                        border: none;
                        height: 5vw ;

                    }

                }
                img:nth-child(2){
                    height: 4.35vw;
                    padding-right: 3.07vw;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }                

            }

            div:nth-child(2){
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 7.17vw;
                flex-shrink: 0;
                overflow-x: scroll;  
                gap: 3.07vw;
                a{
                    text-decoration: none;
                    white-space: nowrap;
                    font-size: 3.07vw;
                    padding: 1.66vw 3.71vw 1.66vw 3.71vw ;
                    border-radius: 1.5vw;
                }

                a:nth-child(1){
                    background-color: rgba(237, 233, 255, 1);
                }
                a:nth-child(2){
                    background-color: rgba(255, 245, 215, 1);
                }
                a:nth-child(3){
                    background-color: rgba(255, 236, 236, 1);
                }
                a:nth-child(4){
                    background-color: rgba(228, 255, 234, 1);
                }
            }
        }
    }

   .maincontainer{
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 5.128vw;
        top: 80.512vw;
        width: 88.71vw;
        height: 126.92vw;
        gap: 10.256vw;
   }

    section:nth-child(1){
        display: flex;
        flex-direction: column;
        gap: 4.10vw;

        article:nth-child(1){
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2{
                font-size: 3.589vw;
            }
            p{
                font-size: 3.07vw;
            }
        }
   
        article:nth-child(2){
        
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            overflow-x: scroll;
            width: 88.71vw ;
            height: 47.69vw;
            object-fit: contain;
            gap: 8vw;
            background: transparent;
            
            div{    /*div over img*/
                overflow-x: scroll;
                flex-shrink: 0;
                width: 88.71vw ;
                height: 47.69vw;
                display: flex;
                justify-content: center;

            div{    /*backdropfilter*/
                    border-radius: 2.56vw;
                    color: white;
                    width:85.128vw ;
                    height: 23.07vw;
                    backdrop-filter: blur(8px);
                    background-color: transparent;
                    position: relative;
                    top: 22.564vw;
                    display: flex;
                    flex-direction: row;
                    gap: 5.128vw;
                    align-items: center;
                    justify-content: center;

                    
                    >div:nth-child(1){  /* left content */
                        backdrop-filter: none;
                        background-color: transparent;
                        width: 47.179vw;
                        height: 14.615vw;
                        position: relative;
                        top: 0vw;
                        display: flex;
                        flex-direction: column;
                        border-radius:0 ;
                        gap: 1.53vw;
                        color: white;                        
                        h2{
                            font-size: 2.95vw;
                            height: 3.846vw;
                            width: 47.179vw;
                        }   

                        div{
                            background-color: transparent;
                            height: 3.846vw;
                            width: 47.179vw;
                            border-radius: 0;
                            position: relative;
                            top: 0;
                            gap: 2.05vw;

                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            img{
                                height: 3.846vw;
                            }
                            p{
                                font-size: 2.95vw;
                            }
                        }
                        

                    }

                    
                    div:nth-child(2){  /* right content */
                        width: 26.153vw;
                        height: 8.974vw;
                        position: relative;
                        top: 0vw;
                        border-radius:0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        color: white;
                        gap: 1.02vw;

                        p{
                            font-size: 2.56vw;
                        }
                        
                        h2{
                            font-size: 4.10vw;
                        }

                    }
                
                }
            }
            
            div:nth-child(1){
                background-image: url(../storage/img/coldplayCoverPhoto.svg);
                background-repeat: no-repeat;
                background-size: cover;
                div{
                    background-image: none;
                }

            }

            div:nth-child(2){
                background-image: url(../storage/img/museCoverPhoto.svg);
                background-repeat: no-repeat;
                background-size: cover;
                div{
                    background-image: none;
                }
            }

        }

    }
    
    section:nth-child(2){
        
        height:60.521vw ;
        width: 100%;

        display: flex;
        flex-direction: column;

        article:nth-child(1){
            display: flex;
            flex-direction: row;
            background-color: red;
        }

        article:nth-child(2){
            display: flex;
            flex-direction: row;
            background-color: blue;
        }
    }

    












}