:root{

    --color-1: rgb(0,0,0);

}

@font-face {
    font-family: "Inter_18pt-SemiBold.ttf";
    src: url( ../storage/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter_18pt-Regular.ttf";
    src: url( ../storage/fonts/Inter_18pt-Regular.ttf);
}
